@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

h2,h3,h4,h5,h6{
    font-family: "Gabarito", sans-serif;
}

h6{
    color: #fff !important;
    font-weight: 500;
    font-size: 14px !important;
}

p{
    font-family: "Gabarito", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666 !important;
}



/* LI SECTION SHADOW EFFECT */

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(128, 255, 134, 0.705);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 75% !important;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}



.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 0;
  display: inline-block;
  z-index: 10000;
}

.fa-circle-chevron-up{
  font-size: 40px;
  margin-right: 25px;
}


/* owl-carousel css */

.owl-prev,
.owl-next {
  background-color: #ffffff !important;
  width: 60px;
  height: 60px;
  border-radius: 50% !important;
  font-size: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: -10px !important;
  margin: 0 !important;
  position: absolute;
}

.owl-nav .owl-next {
  justify-items: flex-end;
  right: 10px;
  top: 40%;
  background-color: #ffffff !important;
}

.owl-nav .owl-prev {
  justify-items: flex-end;
  left: 10px;
  top: 40%;
  background-color: #ffffff !important;
}



.item-1, .item-2, .item-3{
    height: 700px;  
}
.item-1{
    background-image: url(../images/bghero.webp);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
.content-box{
    position: absolute;
    top: 25%;
    left: 27%;
}
.title-top{
    font-size: 80px;
    color: #fff !important;
    line-height: 1.1;
    font-weight: 500;
    text-transform: uppercase;
}
.sub-title{
    font-size: 20px !important;
    line-height: 1.4;
}
.clr-text{
    color: #fff;
}

.btn-1{
    padding: 14px 40px ;
    background-color: #65d095 ;
    border-radius: 30px ;
    border: 1px solid #000;

}

/* slider-2 */

.item-2{
    background-image: url(../images/bghero-2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
.title-top-1{
    font-size: 80px;
    font-weight: 500;
    color: #000;
    position: absolute;
    top: 35%;
    left: 5%;
    line-height: 1.2;
    word-spacing: -3px;
    
}
.btn-2{
    background-color: #c90303;
    padding: 16px 40px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    bottom: 25%;
    left: 5%;
    border: 1px solid #000;
    border-radius: 30px;
}

.item-3{
    background-image: url(../images/bghero-3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.content-box-1{
    position: absolute;
    top: 35%;
    left: 5%;
}
.sb-title{
    font-size: 16px !important;
    color: #13acf5;
    font-weight: 500;
    line-height: 1.1;
}
.title-top-2{
    font-size: 80px;
    color: #000000 !important;
    line-height: 1.1;
    font-weight: 500;
}
.gradient-1{
    margin-left:110px ;
    background: -webkit-linear-gradient(105.09deg, #5F5FF6 -0.57%, #2C8CF4 44.02%, #2BC48A 89.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sub-title-2{
    font-size: 20px !important;
    line-height: 1.4;
    color: #13acf5 !important;
}


/* warp section */
.warp span{
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0px;
}



.fst-box{
    position: relative;
}
.list{
    position: absolute;
    top: 15%;
    left: 10%;
}
.name-tag{
    font-size: 28px;
    color: #222222;
    line-height: 1.16;
}
.price-tag{
    margin-top: 60px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 2px;
    color: #666;
}
.snd-box{
    position: relative;
}
.price-tag1{
    margin-top: 60px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #666;
}

.trd-box{
    position: relative;
}

/* PRODUCTS SEC CSS */
.products{
    padding: 50px 0;
}

.slider-11{
    padding: 50px 0;

}

.slider-11 .item{
    height: auto;  
}

.slider-11 .owl-prev,
.slider-11 .owl-next {
  background-color: #8d8d8d !important;
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  font-size: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: -10px !important;
  margin: 0 !important;
  position: absolute;
  
}

.slider-11 .owl-nav .owl-next {
  justify-items: flex-end;
  right: -60px;
  top: 35%;
  background-color: #ffffffaf !important;
  border:  1px solid #2222223b !important;
}

.slider-11 .owl-nav .owl-prev {
  justify-items: flex-end;
  left: -60px;
  top: 35%;
  background-color: #ffffffaf !important;
  border:  1px solid #2222223b !important;
}




.sold-out{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 12px;
    line-height: 18px;
    padding: 7px 15.5px;
    text-align: center;
    font-weight: 600;
    background-color: rgb(111, 113, 155);
    color: #fff;
    border-radius: 5px;
}
.item-a{
    position: relative;
}

.printed-bar{
    font-size: 16px;
    padding-top: 25px;
}
.fa-star{
    font-size: 14px;
}
.price-tag{
    color: #2BC48A;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}
.act-price{
    text-decoration: line-through;
    color: #666;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
}

/* FAVORITES SECTION CSS START */

.favorites{
    padding: 50px 0;
}


.left-cont{
   background-image: url(../images/Mask_group_-1.webp);
   height: 511px;
   width: 620px;
   background-position: cover;
   background-repeat: no-repeat;
   background-position: center center;

}
.right-cont{
    background-image: url(../images/Mask_group_-2.webp);
    height: 511px;
    width: 620px;
    background-position: cover;
   background-repeat: no-repeat;
   background-position: center center;
}

.fst-title{
    font-size: 48px;
    color: #fff;
    text-align: start;
    margin-top: 50px;
    margin-left: 70px;
}
.algnment{
    padding-left: 70px;
    padding-top: 15px;
}
.fa-arrow-right{
    font-size: 16px !important;
    padding-right: 10px;
}
.shop-list{
    color: #fff;
    font-family: "Gabarito", sans-serif;
}
.top-hdg{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Gabarito", sans-serif;
    line-height: 22px;
    letter-spacing: 2px;
    padding-top: 50px;
    padding-left: 50px;
}
.mdl-title{
    font-size: 48px;
    font-weight: 500;
    padding-left: 50px;
}
.para-1{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 50px;
}


/* Personalize sectrion css start */
.pesonal-size{
    font-size: 40px;
    line-height: 1.15;
    padding-bottom: 30px;
}
.text-end{
    font-size: 15px;
    text-transform: capitalize;
    line-height: 1.4;
    margin-bottom: 0 !important;
    font-weight: 600;
    position: relative;
    padding-top: 20px;  
    margin-right: 25px;  
}
.arrow-top{
  font-size: 18px !important;
  position: absolute;
  top: 10px;
  right: -30px;
  padding-top: 20px;
}


/* POPULAR SECTION CSS  */

.popular-cont{
    padding-top: 100px;
}
.mask-bg{
    background-image: url(../images/Mask_group_-gradient.webp);
    height: 810px;
    width: 1920px;
    background-size: cover;
}

/* 3 NO OWL CAROUSEL */


.slider-12 .owl-prev,
.slider-12 .owl-next {
  background-color: #8d8d8d !important;
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  font-size: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: -10px !important;
  margin: 0 !important;
  position: absolute;
  
}

.slider-12 .owl-nav .owl-next {
  justify-items: flex-end;
  right: -60px;
  top: 35%;
  background-color: #ffffffaf !important;
  border:  1px solid #2222223b !important;
}

.slider-12 .owl-nav .owl-prev {
  justify-items: flex-end;
  left: -60px;
  top: 35%;
  background-color: #ffffffaf !important;
  border:  1px solid #2222223b !important;
}


.see-more{
    padding-bottom: 50px;
}

/* SERVICE SECTION CSS */

.service-title{
    font-size: 40px;
    width: 80%;
    padding-bottom: 20px;
}
.service-para{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.479);
    opacity: 0.7;
    width: 80%;
}
.service-para-1{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.479);
    opacity: 0.7;
    width: 80%;
}

.service{
    padding: 100px 0;
}

.for-bdr{
    border: 1px solid #66666680;
    border-radius: 50%;
    padding: 15px;
}
.fa-circle-info{
    font-size: 20px;
}

.txt-01{
    padding-bottom: 30px;
    padding-top: 30px;
}
.txt-01 h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;

}
.txt-p{
    font-size: 16px;
    font-weight: 700;
}
.txt-02 h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px; 
}
.btn-3{
    padding: 12px 30px 15px 30px;
    border-radius: 30px;
    line-height: 1.5;
    font-weight: 600;
    border: 1px solid #222;
    background-color: rgb(101 209 148);
    color: #fff;
    margin: 56px 0 0 0;
}

.btn-31{
    padding: 12px 30px 15px 30px;
    border-radius: 30px;
    line-height: 1.5;
    font-weight: 600;
    border: 1px solid #222;
    background-color: rgb(101 209 148);
    color: #fff;
    margin: 56px 0 0 0;
}
.item-bakgrd{
    border: 1px solid #E2E0E0;
    border-radius: 16px;
    padding: 40px 20px 40px 40px;
     width:330px;
    height: 336px;
}

.item-bakgrd img {
    box-shadow: 6px 8px 20px 0px #a1a1a19c;
    border-radius: 60%;
    margin-bottom: 35px;
}
.item-bakgrd h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

/* DISCOUNT SECTION CSS */
.discount{
    background-image: url(../images/Mask_group_78.webp);
    background-size: cover;
    height: 694px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dis-top{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 2px;
}
.dis-hdg{
    font-size: 64px;
    font-weight: 500;
    width: 80%;
    text-transform: capitalize;
}
.dis-btm{
    font-size: 18px;
    font-weight: 500;
    width: 70%;
}
.dis-btm-1{
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px;
}
.plus-three{
    position: relative;
}
.plus-1{
    position: absolute;
    bottom: 45%;
    left: 18%;
    font-size: 30px;
    box-shadow: 0px 0px 5px 15px #ffffff96;
    border-radius: 50%;
}
.plus-2{
    position: absolute;
    bottom: 45%;
    left: 60%;
    font-size: 30px;
    box-shadow: 0px 0px 5px 15px #ffffff96;
    border-radius: 50%;
}
.plus-3{
    position: absolute;
    bottom: 70%;
    right: -20%;
    font-size: 30px;
    box-shadow: 0px 0px 5px 15px #ffffff96;
    border-radius: 50%;
}
.brands-details p{
    font-size: 18px;
    width: 70%;
    font-weight: 400;
    line-height: 26px;
}
.brds-hng{
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    width: 70%;
    margin-bottom: 30px;
}

/* BRANDS SECTION CSS START */

.brands{
    padding: 50px;
}


.item-bakgrd-1{
    border: 1px solid #E2E0E0;
    padding: 40px 20px 40px 40px;
     width:240px;
    height: 200px;
}
.item-bakgrd-11{
    border: 1px solid #E2E0E0;
    border-radius: 16px 0 0 0 ;
    padding: 40px 20px 40px 40px;
    width:240px;
    height: 200px;
}
.item-bakgrd-12{
    border: 1px solid #E2E0E0;
    border-radius: 0 0 16px 0px ;
    padding: 40px 20px 40px 40px;
     width:240px;
    height: 200px;
}
.item-bakgrd-9{
    border: 1px solid #E2E0E0;
    border-radius: 0 0 0px 16px ;
    padding: 40px 20px 40px 40px;
     width:240px;
    height: 200px;
}
.item-bakgrd-10{
    border: 1px solid #E2E0E0;
    border-radius: 0 16px 0px 0px ;
    padding: 40px 20px 40px 40px;
     width:240px;
    height: 200px;
}
.item-bakgrd-02 img{
    width: 60px;
    padding-bottom: 25px;
}
.item-bakgrd-02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-bakgrd-02 h6{
    color: #000;
    font-size: 16px;
}
.tex-1{
    font-weight: 800;
}



/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


.comas{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 4 NO OWL CAROUSEL */


.testimonial{
    background-image: url(../images/Mask_group_-bg.webp);
    height: 850px;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.slider-13{
    padding-top: 80px;
    
}

.slider-13 .owl-prev,
.slider-13 .owl-next {
  background-color: #8d8d8d !important;
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  font-size: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: -10px !important;
  margin: 0 !important;
  position: absolute;
  
}

.slider-13 .owl-nav .owl-next {
  justify-items: flex-end;
  right: -60px;
  top: 35%;
  background-color: #ffffffaf !important;
  border:  1px solid #2222223b !important;
}

.slider-13 .owl-nav .owl-prev {
  justify-items: flex-end;
  left: -60px;
  top: 35%;
  background-color: #ffffffaf !important;
  border:  1px solid #2222223b !important;
}
.testi-para{
    margin-bottom: 5px;
    font-size: 14px;
}
.testi-hdg{
    font-size: 16px;
}

.base-imgs img{
    width: 54px !important;
}
.base-img-2 img{
    width: 60px !important;
}
.base-img-3 img{
    width: 70px !important;
}
/* .three-boxs{
    padding-top: 10vh;
    position: absolute;
    bottom: 15%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1320px;
} */


.boxaa1{
    background-color: #fff;
    height: 155px;
    width: 410px;
    /* gap: 20px; */
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxaa1 h2{
    font-size: 48px;
    color: #222222;
    line-height: 22px;
    margin-bottom: 25px;
    padding-top: 30px;
    margin-left: 0;
}
.boxaa2{
    background-color: #fff;
    height: 155px;
    width: 410px;
    gap: 20px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxaa2 h2{
    font-size: 48px;
    color: #222222;
    line-height: 22px;
    margin-bottom: 25px;
    padding-top: 30px;
    margin-left: 0;
}
.boxaa3{
    background-color: #fff;
    height: 155px;
    width: 410px;
    gap: 20px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxaa3 h2{
    font-size: 48px;
    color: #222222;
    line-height: 22px;
    margin-bottom: 25px;
    padding-top: 30px;
    margin-left: 0;
}

/* BLOG SECTION CSS START  */

.blog{
    padding: 50px 0 0 0;
}

.blog-page{
    position: relative;
}
.gradient-card{
    position: absolute;
    content: "";
    top: 0;
    left: 12px;
    width: 94.5%;
    height: 50%;
    opacity: .8;
    background: linear-gradient(180deg, #000, #0000 54.17%);
    z-index: 1;
    border-radius: 16px;
    overflow: hidden;
}

.blog-page-1{
    overflow: hidden;
    border-radius: 16px;
}
.blog-page img{
    width: 100%;
    height: 309px;
    transition: all 0.4s ease-in-out;
}

.blog-page:hover img{
    transform: scale(1.1);
}

.inspiration{
    color: #ff1c6a;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.inspiration-1{
    color: #4ad295;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.inspiration-2{
    color: #13acf5;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.hexago{
    width: 15px !important;
    height: 30px !important;
    margin-top: 2px;
    margin-right: 5px;
}
.hexago-1{
    width: 15px !important;
    height: 30px !important;
    margin-top: 2px;
    margin-right: 5px;
}
.hexago-2{
    width: 15px !important;
    height: 30px !important;
    margin-top: 2px;
    margin-right: 5px;
}
.date-1{
    color: #999;
    font-size: 14px;
    font-weight: 500;
    line-height: 33px;
    display: flex;
    align-items: center;
    margin-left: 16px;
}
.span-by{
    color: #999;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-left: 16px;

}
.apollo{
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    
}
.shape-1{
    margin-bottom: 10px;
}
.line{
    border-top: 1px solid #E2E0E0;
}
.heding-line{
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 20px;

}

/* FOOTER CSS */

.top-footer{
    padding: 50px 0 50px 0;
    border-bottom: 1px solid #33333363;
}
.top-footer ul li{
    list-style-type: none;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Gabarito", sans-serif;
    color: #636262;
    margin-left: 0 !important;
}

.top-footer ul li:hover{
    color: #4ad295;
    cursor: pointer;
}
.top-footer ul{
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.top-text{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 12px;
}
form{
    position: relative;
}
#mail{
    padding: 12px 60px;
    border-radius: 25px 0 0 25px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #f1f2f8;
}

:focus-visible{
    outline: 0 !important;
}
.ftr-btn{
    padding: 12px 25px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.644);
    background-color: #4ad295;
    color: #fff;
    font-family: "Gabarito", sans-serif;
    font-weight: 500;
    position: absolute;
    right: 0%;
}
.ftr-btn:hover{
    background-color: #000;
    cursor: pointer;
}
.buttom-footer{
    height: 10vh;
    padding: 50px 0;
}
#img-121{
    padding-left: 20px;
}
.text-edit{
    font-weight: 500;
    color: #000;
}

.icons{
    display: flex;
    gap: 10px;
}
.icon-1{
    background-color: #c7c6c663;
    padding: 8px 15px;
    border-radius: 50px;
}

.icon-2{
    background-color: #c7c6c663;
    padding: 8px 13px;
    border-radius: 50px;
}

.icon-3{
    background-color: #c7c6c663;
    padding: 8px 15px;
    border-radius: 50px;
}

.icon-4{
    background-color: #c7c6c663;
    padding: 8px 12px;
    border-radius: 50px;
}

.icon-5{
    background-color: #c7c6c663;
    padding: 8px 14px;
    border-radius: 50px;
}
.icon-1:hover{
    background-color: #2BC48A;
    border-radius: 50px;
    color: #fff;
}

.slide-marquee{
    background-color: #25d57aac;
    margin-top: 20px;
    height: 50px;
    padding-top: 10px;
}
.slide-marquee h2{
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.sld-mq{
    font-size: 28px;
}

.dropdown-menu .show{
    width: 100% !important;
    background-color: #fff;  
}
.dropdown-menu{
    width: 1925px !important;
    left: -55em !important;
    position: absolute !important;
}

.bg-divv{
    background-color: #fff !important;
    width: 70% !important;
    margin-left: 17em !important;
    padding-top: 30px !important;
}
.txt-hvr-clr {
    font-size: 18px !important;
    font-weight: 500 !important; 
    gap: 20px !important;  
    padding: 8px 10px !important;
    color: #000 !important;

}
.txt-hvr-clr:hover{
    color: #2BC48A !important;
    cursor: pointer;  
}



/* CONTACT PAGE CSS START */

.cont-bg{
    background-image: url(../images/Mask_1.0.webp);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.cont-bg h3{
    font-size: 58px;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
    /* text-shadow: #ff7474 1px 0 10px; */
    color: #FFFFFF;
text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #060708, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;

}

.left-cl{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  .map {
    width: 90%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-area{
    background-color: #7df7a5;
    padding: 0 25px 0 25px;
    border-radius: 25px;
    height: 600px;
    width: 545px;
    padding-top: 50px;
    margin-top: 50px;
  }

  input{
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  label{
    margin-left: 10px;
    margin-bottom: 10px;
  }
textarea{
  border-radius: 25px;
  width: 100%;
  height: 170px;
  padding-top: 15px;
  padding-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
}
#mail-1 {
    padding: 12px 20px;
    border-radius: 25px !important;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #ffffff;
}

#mail {
    padding: 12px 20px;
    border-radius: 25px !important;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #d8d7d7;
}

.ftr-btn-1{
    padding: 12px 25px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.644);
    background-color: #4ad295;
    color: #fff;
    font-family: "Gabarito", sans-serif;
    font-weight: 500;
    position: absolute;
    right: 0%;
}
